.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 15px;
}

.title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

@media (max-width: 780px) {
}
