.button {
  background: #3badfb;
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid #023e8a;
  display: flex;
  gap: 3px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  height: 35px;
  min-width: 150px;
  width: 100%;
}

@media (max-width: 780px) {
  .button {
    padding: 5px 0;
  }
}
