.container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.title {
  font-size: 24px;
  font-weight: 500;
}

.actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.searchBox {
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 10px;
}

.searchInput {
  all: unset;
  width: 300px;
  font-size: 12px;
}

@media (max-width: 780px) {
  .container {
    flex-direction: column;
    gap: 20px;
  }

  .actions {
    flex-direction: column;
    width: 100%;
  }

  .searchBox {
    width: 100%;
  }

  .searchInput {
    width: 100%;
    font-size: 16px;
  }
}
