:root {
  padding: 0;
  box-sizing: border-box;
  background: #2a233c;
  color: #ffffff;
  margin: 20px 30px;
  font-family: "Poppins", sans-serif;
}

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

button {
  all: unset;
  cursor: pointer;
}

hr {
  border: 0px;

  border-top: 1px solid rgba(202, 201, 205, 0.5);
}
